<div class="p-4 bg-white rounded-lg shadow-md">
	<div class='flex flex-col gap-4' *ngIf="!hasName; else hasNameBlock">
		<p class='text-center text-lg'>What will your name be?</p>
		<input type="text" placeholder="Enter your name" [(ngModel)]="userName" (keydown)="onNameEnter($event)"
			class="w-full p-2 border border-gray-300 rounded-lg" />
		<button (click)="confirmUserName()"
			class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 hover:cursor-pointer">
			Start chatting
		</button>
	</div>

	<ng-template #hasNameBlock>
		<div class='flex flex-row gap-4'>
			<input type="text" placeholder="Type a message..." [(ngModel)]="messageText" (keydown)="onMessageEnter($event)"
				class="w-full p-2 border border-gray-300 rounded-lg" />
			<button (click)="sendMessage()"
				class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 hover:cursor-pointer">
				Send
			</button>
		</div>
	</ng-template>
</div>